<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>My Blog</title>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600' rel='stylesheet' type='text/css' />
    <link href="static/css/style.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
<div id="wrapper">
	<div id="header-wrapper"></div>
	<!-- end #header -->
    <!-- start #menu -->
	<div id="menu">
		<ul>
			<li class="current_page_item"><a href="#">Home page</a></li>
		</ul>
	</div>
	<!-- end #menu -->
    <div id="page">
		<div id="page-bgtop">
			<div id="page-bgbtm">
            {% block body %}
            {% endblock %}
    <!-- start #sidebar -->
    <div id="sidebar">
					<ul>
						<li>
							<h2>Categories</h2>
							<ul>
								<li><a href="#">Aliquam libero</a></li>
							</ul>
						</li>
					</ul>
				</div>
				<!-- end #sidebar -->
    <div style="clear: both;">&nbsp;</div>
    <!-- start #footer -->
  </div>
  </div>
    </div>
    </div>
<div id="footer">
	<p>&copy; My Blog. All rights reserved.</p>
</div>
<!-- end #footer -->
</body>
</html>